footer {
  position : fixed;
  bottom : 0px;
  display : block;
  float : left;
  width : 100%;
  z-index : 20;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  div.footer-content {
    margin : 0 auto;
    position : relative;
    padding : 5vh;
    display : block;
    height : 10vh;


    div.last-updated {
    	display: block;
    	position : relative;
    	display : block;
    	float : left;

    	color : #ffffff;
    	font-family: ProximaNova-Light,sans-serif;
      	font-size : 15px;

      	strong {
      		font-family: ProximaNova-Bold,sans-serif;
      		font-size : 18px;
      	}
    }

    a.reload {
      font-family: ProximaNova-Bold,sans-serif;
      font-size : 18px;
      color : #ffffff;
      float : right;
      cursor : pointer;
      padding-right : 0px;
      transition : padding-right 0.2s ease-in-out;

      img {
        height: 14px;
        position: relative;
        top: 3px;
        margin-right: 6px;
        transition : transform 0.5s ease-in-out;
      }

      &:hover{
      	padding-right : 5px;
        img{ transform : rotate(180deg);}
      }
    } 
  }
}