#forecast-wrapper {
  position : absolute;
  width : 100%;
  height : 100%;
  display : block;
  float : left;

  background : url('../images/intro/bg3.jpg') center center no-repeat;
  background-size : cover;

  @import "header.scss";
  @import "footer.scss";



  div.section-container {
  	display : block;
  	width : 100%;
  	float : left;
  	top : 30vh;
  	position : relative;

  	div.weather-list {
  		width : 100%;
  		display : block;
  		float : left;
  		position : relative;
  		overflow : hidden;
  		height : 50vh;	
  		padding-bottom : 50px;


	  	h2 {
			font-family: Sanchez-Regular,sans-serif;
			font-size : 50px;
			width : 100%;
			display : block;
			float : left;
			width : 100%;
			text-align: center;
			color : #ffffff;
			text-shadow : 1px 1px rgba(0,0,0,0.5);

			transition : transform 0.3s ease-in-out;
	  	}

	  	div.cards-container {
	  		transform-style: preserve-3d;
	  		display : block;
	  		float : left;
	  		position : relative;
	  		height : 50vh;
	  		min-width : 100vw;
	  		margin-top : 5vh;
	  		cursor : pointer;
			cursor : grab;
			transition : margin-top 0.3s ease-in-out;
	  		@import "card.scss";
	  	}

	  	&.retracted{
	  		h2 {
	  			transform : scale(0.7);
	  		}

	  		div.cards-container {
	  			margin-top : 2vh;
	  		}
	  	}
	  }
  }
}
