#forecast-wrapper {
  position : absolute;
  width : 100%;
  min-height : 100%;
  float : left;

  background : url('../images/intro/bg3.jpg') center center no-repeat;
  background-size : cover;
  background-attachment : fixed;


  #forecast-screen {
  	float : left;
  	width : 100%;
  	min-height : 100%;
  	position : relative;
  	padding-bottom : 40vh;
  }

  @import "header.scss";
  @import "footer.scss";



  div.section-container {
  	display : block;
  	width : 100%;
  	height : auto;
  	float : left;
  	float : left;
  	top : 200px;
  	position : relative;

  	div.loading-layer {
  		position : fixed;
  		width : 100%;
  		height : 100%;
  		display : block;
  		float : left;
  		background : rgba(0,0,0,0.3);
  		top : 0px;
  		left : 0px;
  	}

  	div.weather-list {
  		width : 100%;
  		display : block;
  		float : left;
  		position : relative;
  		overflow : hidden;
  		padding-bottom : 50px;
  		transition : margin-top 1s ease-in-out;

  		margin-top : 30px;
  		&:first-child{
  			margin-top : 0px;
  		}

	  	h2 {
			font-family: Sanchez-Regular,sans-serif;
			font-size : 50px;
			width : 100%;
			display : block;
			float : left;
			width : 100%;
			text-align: center;
			color : #ffffff;
			text-shadow : 1px 1px rgba(0,0,0,0.5);

			transition : transform 0.3s ease-in-out;
	  	}

	  	div.cards-container {
	  		transform-style: preserve-3d;
	  		display : block;
	  		float : left;
	  		position : relative;
	  		min-width : 100vw;
	  		margin-top : 5vh;
	  		cursor : pointer;
			cursor : grab;
			transition : margin-top 1s ease-in-out;
	  		@import "card.scss";
	  	}

	  	&.retracted{
	  		h2 {
	  			transform : scale(0.7);
	  		}

	  		div.cards-container {
	  			//margin-top : 2vh;
	  		}

	  		//margin-top : -10vh;
	  	}
	  }
  }
}
