<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="pt-BR" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Grow - Norfolk Weather</title>
        <!-- Emulate IE7 -->
        <!--
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
        -->
        <meta http-equiv="pragma" content="no-cache" />
        <title>ExpressJS</title>
        <link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0001,minimum-scale=1.0001,maximum-scale=1.0001,user-scalable=no,shrink-to-fit=no">
        <meta content="--" name="author" />
        <!-- @ifdef DEBUG -->
        <base href="<%- root_url %>"/>
        <!-- @endif -->
        <!-- @if NODE_ENV='production' -->
        <base href="<%- root_url %>"/>
        <!-- @endif -->
        <!-- @if NODE_ENV='development' -->
        <base href="<%- root_url %>"/>
        <!-- @endif -->
        <meta property="og:site_name" content="Grow - A Digital Agency for Pioneering Brands"/>
        <meta property="og:title" content="Grow - A Digital Agency for Pioneering Brands" />
        <meta property="og:url" content="http://thisisgrow.com/"/>
        <meta property="og:description" content="We combine strategy, creative, and technology under one roof to help modern brands engage their audiences in new and unexpected ways." />
        <meta property="og:image" content="http://thisisgrow.com/Meta-Share-2.png" />

        <meta itemprop="name" content="Grow - A Digital Agency for Pioneering Brands">
        <meta itemprop="description" content="We combine strategy, creative, and technology under one roof to help modern brands engage their audiences in new and unexpected ways.">
        <meta itemprop="image" content="http://thisisgrow.com/Meta-Share-2.png">

        <meta name="description" content="We combine strategy, creative, and technology under one roof to help modern brands engage their audiences in new and unexpected ways.">

        <meta name="twitter:site" content="Grow - A Digital Agency for Pioneering Brands">
        <meta name="twitter:title" content="Grow - A Digital Agency for Pioneering Brands">
        <meta name="twitter:description" content="We combine strategy, creative, and technology under one roof to help modern brands engage their audiences in new and unexpected ways.">
        <meta name="twitter:url" content="http://thisisgrow.com/">
        <meta name="twitter:image" content="http://thisisgrow.com/Meta-Share-2.png">
        <meta name="twitter:card" content="summary_large_image">

        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://thisisgrow.com/imgs/favicons/favicon-152.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://thisisgrow.com/imgs/favicons/favicon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://thisisgrow.com/imgs/favicons/favicon-120.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://thisisgrow.com/imgs/favicons/favicon-72.png">
        <link rel="apple-touch-icon-precomposed" href="http://thisisgrow.com/imgs/favicons/favicon-57.png">
        <link rel="icon" href="http://thisisgrow.com/imgs/favicons/favicon-32.png" sizes="32x32">


        <link rel="stylesheet" href="public/styles/styles.css">
    </head>
    <body>
        <p style="font-size : 0px; opacity:0;">font loading</p>
        <div id="app" style="display:none;">
          
        </div>
        <div id="preloader-bar" style="display:none;">
            <div class="percentage"></div>
        </div>
        <script type="text/javascript" src="public/scripts/scripts.js"></script>
    </body>
</html>
