@font-face {
    font-family: ProximaNova-Regular;
    src: url(../fonts/proxima_regular.eot);
    src: url(../fonts/proxima_regular.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima_regular.woff) format("woff"), url(../fonts/proxima_regular.ttf) format("truetype")
}
@font-face {
    font-family: ProximaNova-Light;
    src: url(../fonts/proxima_light.eot);
    src: url(../fonts/proxima_light.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima_light.woff) format("woff"), url(../fonts/proxima_light.ttf) format("truetype")
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url(../fonts/proxima_bold.eot);
    src: url(../fonts/proxima_bold.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima_bold.woff) format("woff"), url(../fonts/proxima_bold.ttf) format("truetype")
}
@font-face {
    font-family: Sanchez-Regular;
    src: url(../fonts/sanchez_regular.eot);
    src: url(../fonts/sanchez_regular.eot?#iefix) format("embedded-opentype"), url(../fonts/sanchez_regular.woff) format("woff"), url(../fonts/sanchez_regular.ttf) format("truetype")
}
@font-face {
    font-family: Sanchez-Light;
    src: url(../fonts/sanchez_light.eot);
    src: url(../fonts/sanchez_light.eot?#iefix) format("embedded-opentype"), url(../fonts/sanchez_light.woff) format("woff"), url(../fonts/sanchez_light.ttf) format("truetype")
}
@font-face {
    font-family: Sanchez-Bold;
    src: url(../fonts/sanchez_bold.eot);
    src: url(../fonts/sanchez_bold.eot?#iefix) format("embedded-opentype"), url(../fonts/sanchez_bold.woff) format("woff"), url(../fonts/sanchez_bold.ttf) format("truetype")
}